.container {
  background-color: #282c34;
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.error {
  font-size: 30px;
}

.header {
  position: fixed;
  top: 20px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;

  & h1 {
    font-size: 50px;
  }
}

.documentList {
  display: flex;
  flex-wrap: wrap;
}

.button {
  flex: 1 0 calc(33.3333% - 10px);
  color: white;
  margin: 5px;
  margin-top: 10px;
  font-size: 24px;
  padding: 14px 20px;
  border: 1px solid #fff;
  border-radius: 8px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  transition: background-color 0.5s;

  &:hover {
    background-color: rgba(255, 255, 255, 0.5);
  }
}

.link {
  position: absolute;
  top: 20px;
  left: 20px;
  font-size: 32px;
  color: #61dafb;
}
