.container {
  background-color: #282c34;
  min-height: 100vh;
  width: 100%;
  display: flex;
  gap: 40px;
  flex-direction: column;
  align-items: center;
  color: white;
}

.header {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;

  & h1 {
    font-size: 50px;
  }
}

.buttonSection {
  display: flex;
  gap: 20px;
}

.button {
  color: white;
  font-size: 24px;
  padding: 14px 20px;
  border: 1px solid #fff;
  border-radius: 8px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  transition: background-color 0.5s;

  &:hover {
    background-color: rgba(255, 255, 255, 0.5);
  }
}

.countSection {
  font-size: 44px;
  text-align: center;

  & p {
    white-space: nowrap;
  }
}

.link {
  position: absolute;
  top: 20px;
  left: 20px;
  font-size: 32px;
  color: #61dafb;
}

.logo {
  height: 50vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .logo {
    animation: logoSpin infinite 20s linear;
  }
}

@keyframes logoSpin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
